@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

.wrapper {
  @include wrapper-blue-flex;
  padding: 1rem;
}

.form {
  @include form-promo-base;

  &__input {
    border: $input-border-width solid $input-border-color;
    border-radius: $form-border-radius;
    min-width: 9vw;

    &--image {
      display: none;
    }
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.02rem;

    &--image {
      align-self: center;
      display: flex;
      text-align: center;
      padding: 0;
      justify-content: center;
      align-items: center;
      height: 5vh;
      width: 100%;
      background: white;
    }

    &--image-result {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }
}

.buttons {
  @include form-promo-buttons;
}

.group {
  @include form-promo-group;
}

.message-wrapper {
  @include form-promo-message-wrapper;
}

.message {
  @include form-promo-message;
}

.input-wrapper {
  @include form-promo-input-wrapper;
}

input {
  @include form-promo-input;
}

.img {
  overflow: scroll;
  max-height: 50vh;
  z-index: 10;
  background: red;
}

.upload-progress {
  padding-top: 0.4rem;
}

.image-result {
  max-width: 100%;
  max-height: 100%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0.3rem;
  padding: 1rem;
  font-size: 0.75rem;
  border: 0.1rem solid white;
  border-radius: 0.1rem;
  background: white;
  box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
  &--image {
    padding: 0.4rem;
  }

  &--image-result {
    border: 0.02rem solid $input-border-color;
    border: none;

    padding: 0;
    height: auto;
    max-width: 100%;
    overflow: scroll;
  }
}

textarea {
  border: 0.06rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 0.25rem;
  width: 100%;
  font-size: 1.1rem;
  overflow-y: scroll;
  margin-bottom: 1rem;
  resize: none;
  text-align: left;
}
