@import "./../../shared/styles/variables.scss";
@import "./../../shared/styles/mixins.scss";

.wrapper {
  @include wrapper-blue-flex;
}

.form {
  @include form-auth;
  overflow-y: scroll;
  height: 90%;
  display: initial;
}

.input-group {
  @include form-auth-input-group;
}

.buttons {
  @include form-auth-buttons;
}

.input-wrapper {
  @include form-auth-input-wrapper;
}

input,
select {
  @include form-auth-input;
}

.message {
  @include form-auth-message;
}
