$form-background: rgba(240, 240, 240, 1);
$form-border-color: rgba(150, 150, 150, 1);
$form-border-color: transparent;
$form-border-width: 0.1rem;
$form-border-radius: 0.2rem;
$form-button-background: rgba(232, 230, 238, 1);
$form-button-background--hover: rgba(237, 235, 243, 1);
$form-button-background--focus: rgba(242, 240, 248, 1);
$form-button-background--active: rgba(247, 247, 253, 1);
$form-button-border-color: rgba(192, 190, 198, 1);

$form-message-background: rgba(212, 210, 218, 1);

$input-border-color: rgba(120, 120, 120, 1);
$input-border-radius: 0.2rem;

$input-border-width: 0.05rem;
$input-border-width--focus: 0.08rem;

$input-group-background: rgba(220, 220, 220, 1);
