@import "./../../shared/styles/variables.scss";
@import "./../../shared/styles/mixins.scss";

.wrapper {
  @include wrapper-yellow-flex;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30vw;
  margin: 1rem;
  height: 90%;
  border-radius: $form-border-radius;

  box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.3);
  padding: 1.4rem 0.4rem;

  background: #fff;

  &--promos {
    justify-content: flex-start;
  }
}

.detail {
  background: #fff;
  border-radius: 0.25rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__label {
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    width: auto;
    color: rgb(100, 100, 200);
    font-weight: 700;
  }

  &__value {
    border: 0.06rem solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0.7rem;
    border-radius: $form-border-radius;
  }
}
